@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  max-width: 350px;
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 640px) {
  main {
    width: 90%;
    max-width: 500px; /* Adjust this value as needed for smaller screens */
  }
}
@media screen and (min-width: 768px) {
  main {
    width: 90%;
    max-width: 650px; /* Adjust this value as needed for smaller screens */
  }
}

@media screen and (min-width: 1024px) {
  main {
    width: 70%;
    max-width: 1200px; /* Adjust this value as needed for smaller screens */
  }
}
